#!/bin/sh

export PATH=$PATH:/opt/work/app/carplay/lib:/opt/work/app/carplay/carplaylib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/work/app/carplay/lib:/opt/work/app/carplay/carplaylib

/opt/work/app/carplay/gocsdk > /dev/null 2>&1 &
/opt/work/app/carplay/carplaylib/zlink.sh > /dev/null 2>&1 &

cd /opt/work/app/carplay
echo "-------------run------------"

./SDUpgrade &
./runcarplay

if [ -f "/tmp/disable_reboot.flag" ]; then
    echo "------------- SDUpgrade requested no reboot -------------------"
    rm -f /tmp/disable_reboot.flag
else
    echo "-------------exit err, -------------------"
    sleep 3
    reboot
    reboot
fi
